/* Stile-Custom */
:root{
    --roseVale: rgb(173, 80, 88);
    --darkVanilla: rgb(215, 185, 171);
    --japanIndacol: rgb(35, 53, 75);
    --slateGray: rgb(103, 135, 139);
}

h1, h2, h3, h4{
    font-family: 'Pokemon Solid' ;
}

*{
    font-family: 'Pokemon Normale';
}

.bg-roseVale{
    background-color: var(--roseVale);
}

.text-roseVale{
    color: var(--roseVale);
}

.bg-darkVanilla{
    background-color: var(--darkVanilla);
}

.text-darkVanilla{
    color: var(--darkVanilla);
}

.bg-japanIndaco{
    background-color: var(--japanIndacol);
}

.text-japanIndaco{
    color: var(--japanIndacol);
}

.bg-slateGray{
    background-color: var(--slateGray);
}

.text-slateGray{
    color: var(--slateGray);
}

body{
    background-color: rgb(255, 250, 250);
    font-family: 'Pokemon Normale';
}

.img1{
    background-image: url(https://pixabay.com/get/g8d4b5851b141602559bac2bbfb099470d0b12488d8ee000615f060218feec79c555dbde0f12e49bc095d846a8cdb8b23f5b85927968452a6fc05c3362d80ddbd_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 350px;
}


/* NavBar */
.logo{
    width: 150px;
}

.logo2{
    width: 150px;
    margin-left: 70px;
    transition: 0.5s;
}

.ul-custom{
   margin-left: 40%;
   font-size: 35px;
}

.ul-cu{
    color: var(--darkVanilla);
}

.ul-cu:hover{
    box-shadow: 2px 2px 5px var(--roseVale), -2px -2px 5px var(--roseVale);
    color: var(--roseVale);
}