/* Stile-Custom */
:root{
    --roseVale: rgb(173, 80, 88);
    --darkVanilla: rgb(215, 185, 171);
    --japanIndacol: rgb(35, 53, 75);
    --slateGray: rgb(103, 135, 139);
}

h1, h2, h3, h4{
    font-family: 'Pokemon Solid' ;
}

*{
    font-family: 'Pokemon Normale';
}

.bg-roseVale{
    background-color: var(--roseVale);
}

.text-roseVale{
    color: var(--roseVale);
}

.bg-darkVanilla{
    background-color: var(--darkVanilla);
}

.text-darkVanilla{
    color: var(--darkVanilla);
}

.bg-japanIndaco{
    background-color: var(--japanIndacol);
}

.text-japanIndaco{
    color: var(--japanIndacol);
}

.bg-slateGray{
    background-color: var(--slateGray);
}

.text-slateGray{
    color: var(--slateGray);
}

.bo1{
    background-color: rgb(255, 250, 250);
    font-family: 'Pokemon Normale';
    background-image: url(./media/pokemon-1536848_640.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}


.pb{
    padding-top: 200px;
    text-align: center;
    color: var(--japanIndacol);
    font-size: 70px;
}

/* NavBar */
.logo{
    width: 150px;
}

.logo2{
    width: 150px;
    margin-left: 200px;
    transition: 0.5s;
}

.ul-custom{
   margin-left: 40%;
   font-size: 35px;
}

.ul-cu{
    color: var(--darkVanilla);
}

.ul-cu:hover{
    box-shadow: 2px 2px 5px var(--roseVale), -2px -2px 5px var(--roseVale);
    color: var(--roseVale);
}

.pok1{
    margin-top: 200px;
}

.loc{
    width: 30px;
}

.col-custom{
    padding: 10px;
    border: 3px solid var(--darkVanilla);
    cursor: pointer;
    transition: 0.7s;
}
.col-custom:hover{
    transform: scale(1.2);
   background-color: var(--japanIndacol);
   color: var(--roseVale);
   border: 2px solid var(--slateGray);
}

/* Recensioni */
.swiper-wrapper{
    display: flex;
}



.swiper{
    height: 750px;
}

.card-rec{
 height: 250px;
width: 500px;
border: 2px solid var(--japanIndacol);
border-radius: 20px;
background-color: var(--roseVale);
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h4p{
    font-family: 'Pokemon Solid';
    font-size: 30px;
}

.le{
    font-family: 'Pokemon Normale';
    font-size: 25px;
}

/* Annunci */
.accordion-item, .accordion-button{
    background-color: var(--black);
    color: var(--violet);
}

.accordion-button:not(.collapsed){
    color: var(--ocra);
    background-color: var(--black);

    box-shadow: none;
}

.accordion-button:focus{
    box-shadow: none;
}

.card-custom{
    width: 25%;
    border: 5px solid var(--slateGray);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
}

.card-custom:hover{
    transform: scale(1.2);
    background-color: var(--japanIndacol);
    border: 5px solid var(--slateGray);
}

.h3p{
    font-family:  'Pokemon Solid' ;
    font-size: 30px;
    color: var(--darkVanilla);
   margin-top: 25px;
   text-shadow: 5px 5px 0 var(--japanIndacol);
}

.h3p:hover{
    color: var(--roseVale);
}



.lea1{
    font-size: 50px;
    color: var(--darkVanilla)
}

.img-card{
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
}

.dh1{
    margin-top: 150px;
}

/* Chi-Siamo */
.circle{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid var(--japanIndacol);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.v5{
    margin-bottom: 250px;
    margin-top: 250px;
}

.opener{
    height: 150px;
    width: 150px;
    border: 5px solid var(--japanIndacol);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    transition: 0.5s;
}

.moved{
    height: 150px;
    width: 150px;
    border: 5px solid var(--slateGray);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    transition: 0.5s;
    cursor: pointer;
}

.flipC{
    width: 350px;
    height: 500px;
}

.inner{
    width: 100%;
    height: 100%;
    border: 5px solid var(--slateGrays);
    border-radius: 20px;
    position:relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.inner-face{
    width: 350px;
    height: 500px;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    backface-visibility: hidden;
}


.inner-back{
    width: 350px;
    height: 500px;
    position: absolute;
    z-index: 2;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.flip:hover > .inner{
    transform: rotateY(180deg);
}