/* Stile-Custom */
:root{
    --roseVale: rgb(173, 80, 88);
    --darkVanilla: rgb(215, 185, 171);
    --japanIndacol: rgb(35, 53, 75);
    --slateGray: rgb(103, 135, 139);
}

h1, h2, h3, h4{
    font-family: 'Pokemon Solid' ;
}

*{
    font-family: 'Pokemon Normale';
}

.bg-roseVale{
    background-color: var(--roseVale);
}

.text-roseVale{
    color: var(--roseVale);
}

.bg-darkVanilla{
    background-color: var(--darkVanilla);
}

.text-darkVanilla{
    color: var(--darkVanilla);
}

.bg-japanIndaco{
    background-color: var(--japanIndacol);
}

.text-japanIndaco{
    color: var(--japanIndacol);
}

.bg-slateGray{
    background-color: var(--slateGray);
}

.text-slateGray{
    color: var(--slateGray);
}

body{
    background-color: rgb(255, 250, 250);
    font-family: 'Pokemon Normale';
}

.pb{
    padding-top: 200px;
    text-align: center;
    color: var(--japanIndacol);
    font-size: 70px;
}

/* NavBar */
.logo{
    width: 150px;
}

.logo2{
    width: 150px;
    margin-left: 70px;
    transition: 0.5s;
}

.ul-custom{
   margin-left: 40%;
   font-size: 35px;
}

.ul-cu{
    color: var(--darkVanilla);
}

.ul-cu:hover{
    box-shadow: 2px 2px 5px var(--roseVale), -2px -2px 5px var(--roseVale);
    color: var(--roseVale);
}

.img1{
    background-image: url(./media/pokemon-1536848_640.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.loc{
    width: 30px;
}

.col-custom{
    padding: 10px;
    border: 3px solid var(--darkVanilla);
    cursor: pointer;
    transition: 0.7s;
}
.col-custom:hover{
    transform: scale(1.2);
   background-color: var(--japanIndacol);
   color: var(--roseVale);
   border: 2px solid var(--slateGray);
}